<!DOCTYPE html>

<html>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />

    <head>
        <title>Meal planner</title>
    </head>

	<body style="background:url({% static "chopping-spoon.jpg" %}) no-repeat center top/cover transparent; background-color: #BCE6CD;">
    	<div>
			{% if user.username %}
				Welcome {{user.username}} | <a href = "/logout/"> Logout </a> | <a href = "/mealplanner/updateSettings/"> Update user info </a> |
			{% else %}
				<a href = "{% url "django.contrib.auth.views.login" %}"> Login </a> | 
			{% endif %}
			
			<a href="/mealplanner/">Calendar</a> | <a href="/mealplanner/recipe/editor/">My Recipes</a> | <a href="/mealplanner/recipe/browser/">Recipe Browser</a>
		</div>
    	<hr />
    	<div>
        	{% block body_block %}{% endblock %}
        </div>
    </body>
</html>