{% extends 'mealplanner/base.html' %}

{% block body_block %}

	<script type="text/javascript">
		var meal_fields = ["servings","recipe"];
		
		function addMeal(servingsParam, recipeNameParam){
            var table = document.getElementById("meal-container");
            var number = table.rows.length;
            var index = number - 1;
            
            // set the total number of meals
            var form_number = document.getElementById("num-meals");
            form_number.setAttribute("value",number);
            
            //Add new input fields
            var row = table.insertRow();
            for	(i = 0; i < meal_fields.length; i++) {
    			var cell = row.insertCell();
            	var input;
            	if(meal_fields[i] == "servings"){
            		input = document.createElement("input");
            		input.type = "number";
					// Add limits to number field
		            input.setAttribute("step", "any");
		            input.setAttribute("min", "0");
		            if (typeof servingsParam === 'undefined') {
		            	input.value = {{ defaultServings }}
		            } else {
		            	input.value = servingsParam
		            }
            	} else {
            		input = getSelect(recipeNameParam);
            	}
            	cell.appendChild(input);
			}
            
            //Add delete button
            var cell = row.insertCell();
            var d = document.createElement("p");
            d.setAttribute("onclick","deleteMeal(this)");
            d.innerHTML = "x";
            d.setAttribute("style","color:blue");
            d.setAttribute("class", "del");
            cell.appendChild(d);
        }
        
        function deleteMeal(deleteButton){
			var row = deleteButton.parentNode.parentNode;
        	var table = row.parentNode;
        	table.removeChild(row);
			
			//decrease the total number of meals
			var form_number = document.getElementById("num-meals");
            form_number.setAttribute("value",table.rows.length - 1);
        }
        
        function getSelect(recipeNameParam){
        	var input = document.createElement("select");
        	var i = 0;
			{% for recipe in recipes.all %}
				option = new Option("{{recipe.name}}", "{{ recipe.name }}", false, false);
				if (!(typeof recipeNameParam === 'undefined') && recipeNameParam === "{{ recipe.name }}") {
					option.selected = 'selected'
				}
				input.appendChild(option);
				i = i + 1;
			{% endfor %}
            return input;
        }
        
        function onLoad() {
	        {% for meal in meals.all %}
        		addMeal({{ meal.servings }}, "{{ meal.recipe.name }}")
	    	{% endfor %}
        }
        
        function onFormSubmit(){
        	var table = document.getElementById("meal-container");
        	for (i = 1; i < table.rows.length; i++) {
        		var row = table.rows[i];
        		for (j = 0; j < meal_fields.length; j++) {
        			row.childNodes[j].childNodes[0].setAttribute("name", "meal_" + meal_fields[j] + "-" + (i-1));
        		}
        	}
        }
	</script>
	
	<h1>Edit the day's meals</h1>

	<form onsubmit="onFormSubmit()" action="/mealplanner/save/{{ editDay.year }}/{{ editDay.month }}/{{ editDay.day }}/" method="post">
    	{% csrf_token %}
    	<table id="meal-container">
	    	<tr><th>Servings</th><th>Recipe</th></tr>
			<input id="num-meals" type="hidden" name="num_meals" value="0"/>
    	</table>
    	<a href="#" id="filldetails" onclick="addMeal()">Add meal</a>
    	<br>
    	<br>
    	<br>
   		<input type="submit" name="saveday" value="Save the day" />
	</form>
	
	<script type="text/javascript">
		onLoad()
	</script>
	
{% endblock %}
