{% extends 'mealplanner/base.html' %}

{% block body_block %}

	<script type="text/javascript">
		var ingredient_fields = ["quantity","unit","name"];

    	function addIngredient(ingredient){
            var table = document.getElementById("ingredient-container");
            var number = table.rows.length;
            var index = number - 1;

            // set the total number of ingredients
            var form_number = document.getElementById("num-ingredient");
            form_number.setAttribute("value",number);

            //Add new input fields
            var row = table.insertRow();
            var toBeFocused;
            for	(i = 0; i < ingredient_fields.length; i++) {
    			var cell = row.insertCell();
            	var input = document.createElement("input");
            	if(!(typeof ingredient === 'undefined')){
            		input.value = ingredient[ingredient_fields[i]];
            	}
            	if(ingredient_fields[i] == "quantity"){
            		input.type = "number";
					// Add limits to number field
		            input.setAttribute("step", "any");
		            input.setAttribute("min", "0");
		            toBeFocused = input;
            	} else {
            		input.type = "text";
            	}
            	cell.appendChild(input);
			}

            //Add delete button
            var cell = row.insertCell();
            var d = document.createElement("p");
            d.setAttribute("onclick","deleteIngredient(this)");
            d.innerHTML = "x";
            d.setAttribute("style","color:blue");
            d.setAttribute("class", "del");
            cell.appendChild(d);

            validateForm();
            // if this is a new ingredient, bring the focus here
		    if(ingredient == null){
		    	toBeFocused.focus();
		    }
        }

        function deleteIngredient(deleteButton){
        	console.log(deleteButton);
        	var row = deleteButton.parentNode.parentNode;
        	var table = row.parentNode;
        	console.log(row);
        	table.removeChild(row);

			//decrease the total number of ingredients
			var form_number = document.getElementById("num-ingredient");
            form_number.setAttribute("value",table.rows.length - 1);

            validateForm();
        }

        function onLoad(){
        	var ingredient = {};
        	{% for ingredient in recipe.recipeingredient_set.all %}
	    		ingredient.quantity="{{ingredient.quantity|escapejs}}";
	    		ingredient.unit="{{ingredient.unit|escapejs}}";
	    		ingredient.name="{{ingredient.ingredient.name|escapejs}}";
	    		addIngredient(ingredient)
    		{% endfor %}
        }

        function onFormSubmit(){
        	console.log("CALLING ON FORM SUBMIT");
        	if (!validateForm()) {
        		console.log("FORM IS INVALID");
        		return false;
        	}
        	var table = document.getElementById("ingredient-container");
        	for (i = 1; i < table.rows.length; i++) {
        		var row = table.rows[i];
        		for (j = 0; j < ingredient_fields.length; j++) {
        			row.childNodes[j].childNodes[0].setAttribute("name", "ingredient_" + ingredient_fields[j] + "-" + (i-1));
        		}
        	}
        	return true;
        }

        function validateForm() {
        	var table = document.getElementById("ingredient-container");
        	isFormValid = true;
        	for (i = 1; i < table.rows.length; i++) {
        		var row = table.rows[i];
        		isRowValid = validateRow(row);
        		if (!isRowValid) {
        			isFormValid = false;
        		}
        	}
        	if (document.getElementById("savecurrent")) {
	        	document.getElementById('savecurrent').disabled = !isFormValid;
	        }
	        document.getElementById('saveasnew').disabled = !isFormValid;
        	return isFormValid;
		}

		function validateRow(row) {
			isRowValid = true;
			for (j = 0; j < ingredient_fields.length; j++) {
    			input = row.childNodes[j].childNodes[0];
    			isInputValid = validateInput(input, j);
    			if (isInputValid) {
    				input.className = "";
    			} else {
    				input.className = "error";
    				isRowValid = false;
    			}
    		}
    		if (!isRowValid) {
    			if (document.getElementById("savecurrent")) {
		        	document.getElementById('savecurrent').disabled = "disabled";
		        }
		        document.getElementById('saveasnew').disabled = "disabled";
		    }
    		return isRowValid;
		}

		function validateInput(input, j) {
			// unit can be anything
			if (ingredient_fields[j] == "unit") {
				return true;
			}

			// validate that quantity and ingredient are not empty
			if (input.value == "") {
				return false;
			} else {
				if (ingredient_fields[j] == "quantity") {
					// validate that the quantity is not empty, and a number
					if (isNaN(parseFloat(input.value))) {
						// not a valid float
						return false;
					}
				}
			}
			return true;
		}

	</script>

	{% if recipe %}
		<h1>Edit recipe</h1>

		<form onsubmit="return onFormSubmit();" onchange="return validateForm();" action="/mealplanner/recipe/save/{{ recipe.id }}/" method="post">
	    	{% csrf_token %}
	    	{{ form.as_p }}
	    	<table id="ingredient-container">
		    	<tr><th>Quantity</th><th>Unit</th><th>Ingredient</th></tr>
				<input id="num-ingredient" type="hidden" name="num_ingredients" value="0"/>
	    	</table>
	    	<a href="#" id="filldetails" onclick="addIngredient()">Add ingredient</a>
	    	<br>
	    	<br>
	    	<br>
	    	{% if user == recipe.author %}
	    		<input type="submit" name="savecurrent" id="savecurrent" value="Save current recipe"/>
	    	{% endif %}
	   		<input type="submit" name="saveasnew" id="saveasnew" value="Save as new recipe"/>
		</form>
		{% if recipe.id %}
	    	<a href="/mealplanner/recipe/view/{{ recipe.id }}">Back to recipe</a>
	    {% endif %}
	{% else %}
	    <p>No recipe found with this id.</p>
	{% endif %}
	<script type="text/javascript">
		onLoad()
	</script>

{% endblock %}
