{% extends 'mealplanner/base.html' %}

{% block body_block %}

	<script type="text/javascript">
			var ingredient_fields = ["quantity","unit","name"];
	    	function addIngredient(){ 
	            var table = document.getElementById("ingredient-container");
	            var number = table.rows.length;
	            var index = number - 1;
	            
	            // set the total number of ingredients
	            var form_number = document.getElementById("num-ingredient");
	            form_number.setAttribute("value",number);
	            
	            //Add new input fields
	            var row = table.insertRow();
	            for	(i = 0; i < ingredient_fields.length; i++) {
	    			var cell = row.insertCell();
	            	var input = document.createElement("input");
	            	if(ingredient_fields[i] == "quantity"){
	            		input.type = "number";
						// Add limits to number field
			            input.setAttribute("step", "any");
			            input.setAttribute("min", "0");
	            	} else {
	            		input.type = "text";
	            	}
	            	input.name = "ingredient_" + ingredient_fields[i] + "-" + index;
	            	input.setAttribute("class", "ingredient_" + ingredient_fields[i]);
	            	cell.appendChild(input);
				}
	            
	            //Add delete button
	            var cell = row.insertCell();
	            var d = document.createElement("p");
	            d.setAttribute("onclick","deleteIngredient(" + number +")");
	            d.innerHTML = "x";
	            d.setAttribute("style","color:blue");
	            d.setAttribute("class", "del");
	            cell.appendChild(d);
	        }
	        
	        function deleteIngredient(index){
	        	var table = document.getElementById("ingredient-container");
	            var row = table.deleteRow(index);
	            
	            //decrement the ingredient number of subsequent fields
	            for (i = index; i < table.rows.length; i++) {
	    			row = table.rows[i];
	            	for(j = 0; j < ingredient_fields.length; j++) {
	    				var input = row.getElementsByClassName("ingredient_" + ingredient_fields[j])[0];
	    				// i-1 because of the header row
	    				input.name = "ingredient_" + ingredient_fields[j] + "-" + (i-1);
	    			}
	    			var d = row.getElementsByClassName("del")[0];
					d.setAttribute("onclick","deleteIngredient(" + i +")");
				}
				
				//decrease the total number of ingredients
				var form_number = document.getElementById("num-ingredient");
	            form_number.setAttribute("value",table.rows.length - 1);
	        }
	</script>
	
	{% if recipe %}
		<h1>Edit recipe</h1>
		
		<form action="/mealplanner/recipe/save/{{ recipe.id }}/" method="post">
	    	{% csrf_token %}
	    	{{ form.as_p }}
	    	<table id="ingredient-container">
	    	<tr><th>Quantity</th><th>Unit</th><th>Ingredient</th></tr>
		<input id="num-ingredient" type="hidden" name="num_ingredients" value="{{recipe.recipeingredient_set.all|length}}">
	    	</input>
	    	{% for ingredient in recipe.recipeingredient_set.all %}
	    		<tr>
	    		<td><input type="number" name="ingredient_quantity-{{forloop.counter0}}" value="{{ingredient.quantity}}" step="any" min="0" class="ingredient_quantity"></td>
	    		<td><input type="text" name="ingredient_unit-{{forloop.counter0}}" value="{{ingredient.unit}}" class="ingredient_unit""></td>
	    		<td><input type="text" name="ingredient_name-{{forloop.counter0}}" value="{{ingredient.name}}" class="ingredient_name"></td>
	    		<!-- 1-indexed counter to account for the header row -->
	    		<td><p onclick="deleteIngredient({{forloop.counter}})" style="color:blue" class="del">x</p></td>
	    		</tr>
	    	{% endfor %}
	    	</table>
	    	<a href="#" id="filldetails" onclick="addIngredient()">Add ingredient</a>
	    	<br>
	    	<br>
	    	<br>
	    	{% if user == recipe.author %}
	    		<input type="submit" name="savecurrent" value="Save current recipe" />
	    	{% endif %}
	   		<input type="submit" name="saveasnew" value="Save as new recipe" />
		</form>
		{% if recipe.id %}
	    	<a href="/mealplanner/recipe/view/{{ recipe.id }}">Back to recipe</a>
	    {% endif %}
	{% else %}
	    <p>No recipe found with this id.</p>
	{% endif %}
	
{% endblock %}
