{% extends 'mealplanner/base.html' %}

{% block body_block %}

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<script>
	    $(function() {
	    	$( "#datepicker-start" ).datepicker();
	    });
	    $(function() {
	    	$( "#datepicker-end" ).datepicker();
	    });
	</script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<h1>Calendar</h1>
	<h2> <a href= "{% url "newMonth" year month "prev" %}">&lt;&lt; </a> - {{ mname }} {{ year }} - <a href= "{% url "newMonth" year month "next" %}">&gt;&gt;</a></h2>

	<div class="month">
	    <table>
	
	    <tr>
	    	{% for dday in week_days %}
	    		<td class="calendartd datenum">{{dday}}</td>
	        {% endfor %}
	    </tr>
	
	    {% for week in month_days %}
	        <tr>
	        {% for day, current, meals in week %}
	
	            <!-- TD style: empty | day | current; onClick handler and highlight  -->
	            
	            <td class= "calendartd {% if day == 0 %}empty"{% endif %}
	            {% if day != 0 and not current %}day"{% endif %}
	            {% if day != 0 and current %}current"{% endif %}
	            {% if day != 0 %}
	            	onClick="parent.location='{% url  "detailDay" year month day %}'" >
	                <div class="datenum"> {{ day }} </div>
	                {% for meal in meals %}
	                    <div title = "{{ meal }}">{{ meal }}</div>
	                {% endfor %}
	            {% else %}
	            	>
	            	<p> </p>
	            {% endif %}
	            </td>
	        {% endfor %}
	        </tr>
	    {% endfor %}
	    </table>
	
	    <div class="clear"></div>
	</div>
	<br>
	<form action="/mealplanner/generateList/" method="post">
		{% csrf_token %}
		Start date: <input type="text" id="datepicker-start" name="start_date">End date: <input type="text" id="datepicker-end" name="end_date">
	    <input type="submit" name="generatelist" value="Generate a shopping list"/>
	</form>


{% endblock %}