{% extends 'mealplanner/base.html' %}

{% block body_block %}

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "month.css" %}" />

	<h1>Calendar</h1>
	
	<a href= "{% url "newMonth" year month "prev" %}">&lt;&lt; Prev</a>
	<a href= "{% url "newMonth" year month "next" %}">Next &gt;&gt;</a>
	<h4>{{ mname }} {{ year }}</h4>
	
	<div class="month">
	    <table>
	
	    <tr>
	    	{% for dday in week_days %}
	    		<td class="datenum">{{dday}}</td>
	        {% endfor %}
	    </tr>
	
	    {% for week in month_days %}
	        <tr>
	        {% for day, current, meals in week %}
	
	            <!-- TD style: empty | day | current; onClick handler and highlight  -->
	            
	            <td class= {% if day == 0 %}"empty"{% endif %}
	            {% if day != 0 and not current %}"day"{% endif %}
	            {% if day != 0 and current %}"current"{% endif %}
	            {% if day != 0 %}
	             >
	                <div class="datenum"> {{ day }} </div>
	                {% for meal in meals %}
	                    <div title = "{{ meal }}">{{ meal }}</div>
	                    <br />
	                {% endfor %}
	            {% else %}
	            >
	            <p> </p>
	            {% endif %}
	            </td>
	        {% endfor %}
	        </tr>
	    {% endfor %}
	    </table>
	
	    <div class="clear"></div>
	</div>

{% endblock %}