{% extends 'mealplanner/base.html' %}

{% block body_block %}

	{% if recipe %}

		{% if error %}
			<h1><font color="red">{{ error }}</font></h1>
		{% endif %}

		<h1>View recipe</h1>
		<h3>Name: {{recipe.name}}</h3>
		<h3>Author: {{recipe.author}}</h3>
		<h3>Servings: {{recipe.servings}}</h3>
		<h3>Ingredients:</h3>
	    <ul>{% for ingredient in recipe.recipeingredient_set.all %}
	    		<li>{{ingredient.quantity|floatformat:"-3"}} {{ingredient.unit}}(s) of {{ingredient.ingredient.name}}</li>
	    	{% endfor %}
	    </ul>
	    <h3>Instructions:</h3>
	    <p>{{recipe.instructions|linebreaks}}</p>

	    <p><a href="/mealplanner/recipe/edit/{{ recipe.id }}/">
	    {% if user == recipe.author %}
	    	Edit this recipe
	    {% else %}
	    	Add this to my recipes
	    {% endif %}
	    </a></p>
	{% else %}
	    <p>No recipe found with this id.</p>
	{% endif %}
	{% if user == recipe.author %}
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	  	<script>
		    $(function() {
		    	$( "#datepicker-add" ).datepicker({'firstDay': {{first_day}} });
		    });
		</script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<form action="/mealplanner/date/addRecipe" method="POST">
			{% csrf_token %}
			<input type="text" id="datepicker-add" name="date" required>
			<input type="hidden" name="recipe_id" value="{{recipe.id}}">
			<input type="submit" value="Add To Date">
		</form>
	{% endif %}


{% endblock %}