{% extends 'mealplanner/base.html' %}

{% block body_block %}

	{% if recipe %}

		{% if error %}
			<h1><font color="red">{{ error }}</font></h1>
		{% endif %}

		<h1>View recipe</h1>
		<h3>Name: {{recipe.name}}</h3>
		<h3>Author: {{recipe.author}}</h3>
		<h3>Servings: {{recipe.servings}}</h3>
		<h3>Ingredients:</h3>
	    <ul>{% for ingredient in recipe.recipeingredient_set.all %}
	    		<li>{{ingredient.quantity|floatformat:"-3"}} {{ingredient.unit}}(s) of {{ingredient.ingredient.name}}</li>
	    	{% endfor %}
	    </ul>
	    <h3>Instructions:</h3>
	    <p>{{recipe.instructions|linebreaks}}</p>

	    <p><a href="/mealplanner/recipe/edit/{{ recipe.id }}/">
	    {% if user == recipe.author %}
	    	Edit this recipe
	    {% else %}
	    	Add this to my recipes
	    {% endif %}
	    </a></p>
	{% else %}
	    <p>No recipe found with this id.</p>
	{% endif %}
	<form action="/mealplanner/date/addRecipe" method="POST">
		{% csrf_token %}
		<input name="date" type="date" required>
		<input type="hidden" name="recipe_id" value="{{recipe.id}}">
		<input type="submit" value="Add To Date">
	</form>


{% endblock %}